body {
  font-family: 'Roboto Mono', monospace;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url(./images/chihiro037.jpg) no-repeat;
  background-size: cover;
  /* 鼠標，圖片 "往右/往下" 對齊鼠標的點 */
  cursor: url(./images/cursor-3.png), auto;
  overflow: hidden;
}

.flex_around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  position: relative;
}

.github_position {
  position: absolute;
  bottom: 1%;
  right: 1%;
}

#game {
  width: 100%;
  height: 100%;
}

/* 格子大小 */
#game td {
  width: 180px;
  height: 180px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20%;
}

/* 出現的 */
.A {
  background: url(./images/Susuwatari.png) no-repeat;
  animation: beforeHit 1.2s infinite;
}

@keyframes beforeHit {
  from {
    background-position: 50% 60%;
  }
  to {
    background-position: 50% 30%;
  }
}

.C {
  background: url(./images/star3.png) no-repeat center center;
  animation: beforeHit 1.2s infinite;
}

.E {
  background: url(./images/mouse180.png) no-repeat;
  animation: beforeHit 1.2s infinite;
}

/* 打到的 */
.B {
  background: url(./images/Susuwatari2.png) no-repeat;
  animation: afterHit 1.2s infinite;
}

.D {
  background: url(./images/star4.png) no-repeat;
  animation: afterHit 1.2s infinite;
}

.F {
  background: url(./images/mouse2.png) no-repeat;
  animation: afterHit 1.2s infinite;
}
@keyframes afterHit {
  from {
    background-position: 50% 30%;
    transform: scale(1);
  }
  to {
    background-position: 50% 30%;
    transform: scale(1.1);
  }
}

.title {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.8);
  /* text-align: center; */
  -webkit-text-stroke: 1.5px #000;
}

.startbox {
  display: inline-block;
  width: 500px;
  font-size: 35px;
  font-family: 'Press Start 2P', '微軟正黑體';
  line-height: 150%;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 0.5px rgba(255, 255, 255, 0.8);
  align-self: flex-end;
  position: relative;
}
.botton-style {
  width: 250px;
  height: 70px;
  color: white;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(232, 48, 21, 0.7);
  border: 3px solid rgba(232, 48, 21, 0.9);
}
.botton-style:hover {
  cursor: url(./images/cursor-1.cur), pointer;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.05);
}

.rule-botton-style {
  width: 250px;
  height: 70px;
  color: white;
  border-radius: 10px;
  font-size: 28px;
  font-family: 'Press Start 2P', cursive;
  background-color: rgba(233, 139, 42, 0.7);
  border: 3px solid rgba(233, 139, 42, 0.9);
}
.rule-botton-style:hover {
  cursor: url(./images/cursor-1.cur), pointer;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.05);
}

/* 小煤炭動畫 *3 */
.smallImg1 {
  position: absolute;
  bottom: 50%;
  left: 0%;
  animation: smallImg1 5s alternate infinite;
}
.smallImg1 img {
  width: 76px;
  height: 82px;
  transform: rotate(90deg);
}
@keyframes smallImg1 {
  from {
    transform: translate(0px, 0);
  }
  to {
    transform: translate(0px, 150px);
  }
}

.smallImg2 {
  position: absolute;
  top: 0%;
  right: 11%;
  animation: smallImg2 3s alternate infinite;
}
.smallImg2 img {
  width: 62px;
  height: 105px;
  transform: rotate(180deg);
}
@keyframes smallImg2 {
  from {
    transform: translate(150px, 0);
  }
  to {
    transform: translate(0px, 0);
  }
}
.smallImg3 {
  position: absolute;
  bottom: 0%;
  right: 5%;
  animation: smallImg3 1s alternate infinite;
}
.smallImg3 img {
  width: 113px;
  height: 186px;
}
@keyframes smallImg3 {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, -50px);
  }
}

.time {
  font-family: 'Anton', sans-serif;
  font-size: 50px;
  text-align: center;
  transform: translateX(-30%);
  color: rgba(232, 48, 21, 0.8);
}

.copyright {
  width: 150px;
  height: 50px;
  line-height: 50px;
  z-index: 999;
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mouse {
  cursor: url(./images/cursor-2.cur), auto;
}

.win {
  width: 1000px;
  height: 1000px;
  background-image: url(./images/win2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: 5%;
}

.lose {
  width: 1400px;
  height: 1400px;
  background-image: url(./images/lose3.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: 28%;
}

.high {
  width: 1000px;
  height: 1000px;
  background-image: url(./images/highscore.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 25%;
  left: 22%;
}

.rule {
  /* width: 630px;
  height: 780px; */
  width: 80%;
  height: 80%;
  background-image: url(./images/RULES.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 15%;
  left: 33%;
}

.rule:hover {
  cursor: url(./images/cursor-1.cur), pointer;
  filter: drop-shadow(0 0 3px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 8px rgba(255, 255, 255, 0.5));
  transform: scale(1.01);
}

/* clock animation */
/* generated by https://loading.io/ */
@keyframes ldio-clo67sannlt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.ldio-clo67sannlt div {
  position: absolute;
  width: 80px;
  height: 80px;
  border: 12px solid rgba(232, 48, 21, 0.7);
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: content-box;
}
.ldio-animation {
  animation: ldio-clo67sannlt 1s linear infinite;
  top: 100px;
  left: 100px;
}
.ldio-clo67sannlt {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}

/* 音樂 Icon */
#music {
  margin-left: 10px;
  position: absolute;
  bottom: 0%;
  left: 1%;
}
#music img {
  height: 50px;
}
#music img:hover {
  cursor: url(./images/cursor-1.cur), pointer;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5))
    drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
  transform: scale(1.05);
}
